* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    max-width: 800px;
    margin: 0 auto;
}

header {
    background-color: #004080;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

header .container h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    line-height: 1.5;
}

header .container h2{
    font-size: 1em;
    font-weight: normal;
    line-height: 1.5;
    margin: 1.5rem;
}

header a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin: 1rem;
    cursor: pointer;
}

header a:hover {
    background-color: white;
    color: #004080;
}

/* main content styles */
main {
    padding: 20px;
}

.introduction {
    margin-bottom: 20px;
    line-height: 1.6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.introduction h2 {
    color: #004080;
    margin-bottom: 10px;
    font-size: 1.5em;
    text-align: center;
}

.introduction p {
    margin-bottom: 10px;
    font-size: 1.2em;
    text-align: center;
}

.images {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.images h2 {
    color: #004080;
    margin-bottom: 15px;
    font-size: 1.5em;
}

.image-gallery {
    width: 100%;
    display: block;
    gap: 50px;
    justify-content: center;
}

.image-gallery img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.features {
    margin-top: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.features h2 {
    color: #004080;
    margin-bottom: 15px;
    font-size: 1.5em;
    text-align: center;
}

.future-item {
    margin-bottom: 15px;
    font-size: 1.2em;
    line-height: 1.6;
    margin: 1rem;
}

.future-item h3 {
    color: #0066cc;
    margin-bottom: 5px;
    font-size: 1.3em;
}

.future-item p {
    margin-left: 1rem;
    text-align: justify;
    margin: 1rem;
}

.apply-now {
    text-align: center;
    margin: 30px;
    padding-bottom: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.apply-now h2 {
    color: #004080;
    margin-bottom: 15px;
    font-size: 1.5em;
}

.apply-now p {
    font-size: 1.2em;
    margin-bottom: 20px;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.apply-now a {
    color: #ffcc00;
    background-color: #004080;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid white;
    padding: 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin: 1rem;
    cursor: pointer;
    font-size: .6rem;
}

.apply-now a:hover {
    background-color: white;
    color: #004080;
}

.contact {
    margin-top: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 15px;
    text-align: center;
}

.contact .container {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
}

.contact h2 {
    color: #004080;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.contact p {
    font-size: 1.2em;
    line-height: 1.6;
}

.contact a {
    color: #25D366;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.5rem;
}

.location {
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 15px;
    text-align: center;
}

.location h2 {
    color: #004080;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.location p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 30px;
}

.location iframe {
    width: 100%;
    height: 400px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #004080;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
}

footer p {
    font-size: 0.9em;
}

footer span {
    font-weight: bold;
}

/* floating WhatsApp button */
a[aria-label="Chat with us on WhatsApp"] {      
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-decoration: none;
}       








